 body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(Imagenes/fondo.png);
    margin-left: auto;
    margin-right: auto;
 }
 header, section, footer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
 }
/******************************************* Cabecera y navegador *********************************/
 header{
    height: 100px;
    background-color:#a7e3c1;
 }
 #titulo{
   width: 500px;
   height: 80px;
   float: left;
   margin-top: 10px;
   margin-left: 10px;
 }
 #titulo h1{
   font-size: 35px; 
   margin: 0;
 }
 #btn_principal{
  width: 600px;
  height: 80px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
 }
 .botonera {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
 }
 .botonera li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 15px;
    background-color: blanchedalmond;
    margin: 5px;
    border-radius: 5px;
 }
 .botonera li a:hover {
   background-color: #e0d2c5;
 }
/************************************************** Seccion 1 ************************************/
 #sect1{
    height: 650px;
    background-color:  #9cb1db;
 }
 .txt_img1{
    font-size: 25px;
    padding: 2px;
    margin-top: 20px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    color: #ffffff;
    text-shadow: #ffffffd3 0 0 8px;
    font-weight: bold;
 }
 .txt_img2{
    font-size: 25px;
    padding: 10px;
    margin-top: 140px;
    margin-bottom: 5px;
    color: #0b0b0b;
    text-shadow: #ffffff 0 0 8px;
    font-weight: bold;
 }
 .iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 #SecCont1{
    width: 500px;
    height: 550px;
    background-image: url(Imagenes/secCon1.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 50px;
 }
 #SecCont2{
  width: 600px;
  height: 160px;
  font-size: 13px;
  text-align: center;
  background-color: white;
  float: right;
  margin-top: 50px;
  margin-right: 30px;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 30px;
  border-radius: 50px 50px;
  border: 2px #3b3737 solid;
 }
 #SecCont2 h2{
    text-align: center;
    font-size: 25px;
 }
 #SecCont3{
  width: 600px;
  height: 180px;
  font-size: 13px;
  text-align: center;
  background-color: white;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  border: 2px #3b3737 solid;
 }
 #SecCont3 h2{
    text-align: center;
    font-size: 25px;
 }
 #SecCont4{
  width: 600px;
  height: 170px;
  font-size: 13px;
  background-color: white;
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  border: 2px #3b3737 solid;
 }
 #SecCont4 h2{
    text-align: center;
    font-size: 25px;
 }
 .txt_destacado{
   font-size: 13px;
   text-align: center;
   color: #3b3737;
 }
/************************************************** Seccion 2 ************************************/
 #sect2{
   height: 700px;
   background-color: #9cb1db;
   padding-top: 20px;
 }
 #Sec2Cont1{
    background-color: white;
 }
 #Sec2Cont1 h2{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
 }
 .destacado_rojo{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
 }
 #Sec2Cont1{
  width: 300px;
  height: 50px;
  position: relative;
  margin: auto;
  border-radius: 50px 50px;
  border: 2px #3b3737 solid;
 }
 h2{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    padding: 7px;
 }
 /*Rede Descartes*/
 #CRene{
    text-align: center;
 }
 #CajaRene h2{
    text-align: right;
 }
 #Rdesc{
    width: 300px;
    text-align: justify;
    font-size: 15px;
    margin: 2px;
    padding: 3px;
    margin-top: 180px;
 }
 #ReneD{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
 }
 #saber{
  width: 200px;
 }
 #Sec2Cont2{
    width: 350px;
    height: 450px;
    background-color: white;
    background-image: url(Imagenes/descartes.jpg);
    background-repeat: no-repeat;
    background-size: 150px;
    float: left;
    margin-left: 40px;
    margin-top: 80px;
    box-sizing: border-box;
    border-radius: 50px 50px;
    border: 2px #3b3737 solid;
 }
 #Sec2Cont2 h2{
  font-size: 23px;
  font-weight: bold;
 }

 /*Preguntas del sitio web*/
 #Sec2Cont3 h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
 }
 #Sec2Cont3{
  width: 370px;
  height: 450px;
  background-color: white;
  float: left;
  margin-left: 40px;
  margin-top: 80px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  border: 2px #3b3737 solid;
 }
 #Sec2Cont3 p{
  text-align: center;
  font-size: 15px;
 }
 #masAyuda{
  margin-left: 150px;
 }

 /*Friedrich Nietzsche*/
 #nietz{
  column-count: 1;
  text-align: justify;
  font-size: 15px;
  margin: 2px;
  padding: 3px;
  margin-top: 150px;
}
#FNietz{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#conocerNietz{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
 #Sec2Cont4{
  width: 350px;
  height: 450px;
  background-color: white;
  background-image: url(Imagenes/nietz.webp);
  background-repeat: no-repeat;
  background-size: 200px;
  float: left;
  margin-left: 40px;
  margin-top: 80px;
  box-sizing: border-box;
  border-radius: 50px 50px;
  border: 2px #3b3737 solid;
 }
 #Sec2Cont4 h2{
    text-align: right;
    font-size: 23px;
    font-weight: bold;
 }
 /*************************************************** Seccion 3************************************/
 #sect3{
   height: 600px;
   background-color: blue;
 }
 #Sec3Cont1{
  width: 250px;
  height: 550px;
  background-color: rosybrown;
  float: left;
  margin-left: 55px;
  margin-top: 30px;
 }
 #Sec3Cont2{
  width: 250px;
  height: 550px;
  background-color: wheat;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
 }
 #Sec3Cont3{
  width: 250px;
  height: 550px;
  background-color: honeydew;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
 }
 #Sec3Cont4{
  width: 250px;
  height: 550px;
  background-color: darkolivegreen;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
 }
 /**************************************************** Seccion 4 ************************************/
 #sect4{
  height: 800px;
  background-color: crimson;
}
#mod1{
  background-color: salmon;
  height: 400px;
}
#mod2{
  background-color: darkgreen;
  height: 400px;
}
#mod1Caja1{
  background-color: #3b3737;
}
#mod1Caja2{
  background-color: teal;
}
#mod2Caja1{
  background-color: darkkhaki;
}
#mod2Caja2{
  background-color: darkgoldenrod;
}
/**************************************************** footer ************************************/
 footer{
    height: 200px;
    position: relative;
 }
 #cajaFooter1{
  border: 2px #3b3737 solid;
 }
 #cajaFooter2{
  border: 2px #3b3737 solid;
 }
 #cajaFooter1 p{
    text-align: center;
 }
 #cajaFooter2 p{
    text-align: center;
 }
 
 
 /* Inicio de media 600px a 1200px */

 @media all and (min-width:600px) and (max-width:1200px) {
 body{
  width: 600px;
  background-image: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
 }
 header, section, footer{
    width: 600px;
    margin: 0;
  }

  /* Cabecera y navegador */
 header{
  height: 200px;
  margin: 0;
  }

#titulo{
 width: 500px;
 float: none;
 margin-top: 0px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 20px;
 box-sizing: border-box;
}
h1{
  margin: 0;
  text-align: center;
}
h2{
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 14px;

}
#btn_principal{
width: 600px;
float: none;
margin: 0;
margin-top: 15px;
}
.botonera li {
  flex-grow: 1;
  justify-content: center;
}
.botonera li a {
 text-align: center;
}

/** Seccion 1 **/

#sect1{
  height: 600px; 
}
.txt_img1{
  font-size: 25px;
  padding: 2px;
  margin-top: 20px;
  text-orientation: upright;
  writing-mode: horizontal-tb;
}
.txt_img2{
  font-size: 15px;
  padding: 20px;
  margin-top: 400px;
}
#SecCont1{
  width: 250px;
}
#SecCont2{
width: 310px;
margin-left: 15px;
margin-right: 15px;
padding-top: 10px;
font-size: 12px;
text-align: center;
flex-grow: 1;
justify-content: center;
padding: 1px;
}
#SecCont2 h2{
  font-size: 15px;
  font-weight: bold;
}
#saber{
  margin-left: 15px;
}
#SecCont3{
width: 310px;
margin-left: 15px;
margin-right: 15px;
padding-top: 10px;
font-size: 12px;
text-align: center;
padding: 1px;
margin-bottom: auto;
margin-top: 15px;
}
#SecCont3 h2{
  font-size: 15px;
  font-weight: bold
}
#saberKant{
  margin-left: 5px;
}
#SecCont4{
width: 310px;
height: auto;
margin-left: 15px;
margin-right: 15px;
font-size: 12px;
text-align: center;
flex-grow: 1;
justify-content: center;
padding: 1px;
margin-bottom: auto;
margin-top: 15px;
}
#SecCont4 h2{
  font-size: 15px;
  font-weight: bold
}
#conocerNietz{
  margin-left: 5px;
}
.txt_destacado{
 font-size: 11px;
 text-align: center;
 clear: both;
}

/** Seccion 2 **/
#sect2{
  height: 700px;
  padding: 0;
 }
 #Sec2Cont1{
 width: 300px;
 height: 50px;
 }
 #Sec2Cont1 h2{
  font-size: 15px;
  font-weight: bold;
}
 .destacado_rojo{
  color: green;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
/*Rene Descartes*/
 #Sec2Cont2{
 width: 180px;
 margin: 10px;
 margin-left: 10px;
 background-size: 100px;
 }
 #CajaRene h2{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 130px;
 }
 #Rdesc{
  width: 150px;
  text-align: justify;
  font-size: 11px;
  font-weight: bold;
  margin-top: 5px;
}
#saber{
  width: 150px;
  font-size: 11px;
  margin-left: 5px;
  margin-right: 5px;
}
#ReneD{
  width: 130px;
  text-align: center;
  font-weight: bold;
  color: darkred;
  margin-left: 10px;
}
/*Preguntas de la web*/
 #Sec2Cont3{
 width: 200px;
 margin-left: 2px;
 margin-right: 2px;
 margin-top: 10px;
 background-size: 100px;
 }
 #Sec2Cont3 h2{
  font-size: 15px;
  margin-top: 10px;
}
 #preguntas{
  text-align: center;
  font-size: 1opx;
  font-weight: bold;
}
#botonResp{
  text-align: center;
}
#masAyuda{
  margin-left: 0;
}

/*Nietzche*/
 #Sec2Cont4{
 width: 180px;
 margin-left: 5px;
 margin-right: 5px;
 margin-top: 10px;
 background-size: 140px;
 }
 #Sec2Cont4 h2{
  font-size: 15px;
  text-align: center;
  margin-top: 130px;
}
#nietz{
  text-align: justify;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0;
}
#conocerNietz{
  font-size: 12px;
  margin-right: 5px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
#FNietz{
  font-size: 12px;
  color: darkred;
  font-weight: bold;
}
/** Seccion 3 **/
#sect3{
 height: 600px;
}
#Sec3Cont1{
width: 130px;
margin-left: 25px;
}
#Sec3Cont2{
width: 130px;
margin-left: 10px;
}
#Sec3Cont3{
width: 130px;
margin-left: 10px;
}
#Sec3Cont4{
width: 130px;
margin-left: 10px;
margin-right: 5px;
}
/** footer **/
footer{
 height: 200px;
}
#cajaFooter2{
  text-align: center;
}

}
/* fin de media 600px a 1200px */

/* Inicio de medio -599px */
@media all and (max-width: 599px) {
body{
  margin: 0;
}
 header, section, footer{
    width: 100%;
    margin: 0;
 }
/*** Cabecera y navegador ***/
header{
    height: auto;
    float: left;
 }
 #titulo{
   width: 100%;
   height: auto;
   float: none;
   margin: 0;
 }
 h1{
    text-align: center;
    font-size: 15px;
 }
 #btn_principal{
  width: 100%;
  height: auto;
  float: none;
  margin: 0;
 }
 .botonera {
    display: block;
    margin: 0;
    float: none;
 }
 .botonera li a {
    padding: 3px;
 }
/*** Seccion 1 ***/
 #sect1, #sect2, #sect3{
    height: auto;
    float: left;
 }
 .txt_img1{
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  float: none;
  text-orientation: upright;
  writing-mode: horizontal-tb;
  color: #0b0b0b;
  text-shadow: #ffffff 0 0 8px;
  font-weight: bold;
}
.txt_img2{
  font-size: 20px;
  padding: 20px;
  float: none;
  margin-top: 150px;
  color: #0b0b0b;
  text-shadow: #ffffff 0 0 8px;
  font-weight: bold;
}
 #SecCont1{
    width: auto;
    height: auto;
    background-image: url(Imagenes/pensador.jpg);
    float: none;
    margin: 5px;
 }
 #SecCont2{
  width: 100%;
  height: auto;
  float: none;
  margin: 0;
  padding: 0;
 }
 #SecCont2 h2{
  font-size: 15px;
  font-weight: bold;
 }
 #SecCont2 p{
  margin-bottom: 0;
 }
 #SecCont3{
  width: 100%;
  height: auto;
  float: none;
  margin: 0;
 }
 #SecCont3 h2{
  font-size: 15px;
  font-weight: bold;
 }
 #SecCont4{
  width: 100%;
  height: auto;
  float: none;
  margin: 0;
 }
 #SecCont4 h2{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
 }

/*** Seccion 2 ***/
 #sect2{
   height: auto;
   float: left;
 }
 /*Titulo "Exponentes"*/
  #Sec2Cont1 h2{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  /*Rede Descartes*/
 #Sec2Cont2{
  height: 400px;
  background-image: none;
  float: none;
 }
 #Rdesc{
  width: 250px;
  font-size: 10px;
  text-align: justify;
  font-weight: bold;
  margin: 2px;
  padding: 1px;
  margin-left: 60px;
}
#CRene{
  height: auto;
}
#CajaRene{
  height: auto;
  float: none;
}
#CajaRene h2{
  margin: 1px;
  padding: 2px;
}
#saber{
  width: 160px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 0;
  margin-left: 10px;
 }
#ReneD{
  font-size: 9px;
  color: darkred;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
 #Sec2Cont2{
    width: 100%;
    height: 130px;
    float: none;
    background-image: url(Imagenes/rene.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    margin: 0;
 }
 #Sec2Cont2 h2{
    text-align: center;
    font-size: 15px;
 }

 /*Seccion de preguntas*/
 #CajaResp h2{
  padding: 2px;
 }
.destacado_rojo{
  font-size: 9px;
  color: violet;
  margin: 0;
  margin-left: 15px;
}
#Sec2Cont3 h2{
  text-align: center;
  font-size: 10px;
  margin: 0;
}
 #Sec2Cont3{
  width: 100%;
  height: 120px;
  font-size: 1px;
  float: none;
  margin: 0;
  padding: 0;
 }
 #Sec2Cont3 p{
    font-size: 8px;
 }
 #botonResp{
  text-align: center;
 }
 #masAyuda{
  width: 60px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
 }

/*Seccion Nietzche*/

#Sec2Cont4{
  background-size: 60px;
}
#Sec2Cont4 h2{
  font-size: 15px;
  text-align: center;
 }
 #cajaNietz{
  width: 300px;
  height: 40px;
  float: right;
  margin-left: 70px;
 }
 #nietz{
  text-align: justify;
  font-size: 9px;
  font-weight: bold;
  margin: 0;
  padding: 3px;
 }
 #conocerNietz{
  width: 150px;
  font-size: 10px;
  margin-top: 15px;
}
#FNietz{
  font-size: 10px;
  font-weight: bold;
  color: darkred;
  margin: 4px;
}
 #Sec2Cont4{
  width: 100%;
  height: 135px;
  background-image: url(Imagenes/fried2.jpg);
  background-repeat: no-repeat;
  float: none;
  margin: 0;
 }

 
 /*** Seccion 3 ****/
 #sect3{
   height: auto;
   float: left;
 }
 #Sec3Cont1{
  width: 90%;
  height: 50px;
  float: none;
  margin-left: 15px;
  margin-top: 15px;
 }
 #Sec3Cont2{
  width: 90%;
  height: 50px;
  float: none;
  margin-left: 15px;
  margin-top: 5px;
 }
 #Sec3Cont3{
  width: 90%;
  height: 50px;
  float: none;
  margin-left: 15px;
  margin-top: 5px;
 }
 #Sec3Cont4{
  width: 90%;
  height: 50px;
  float: none;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
 }
/*** footer ***/
 footer{
   height: 200px;
 }
}
/* Fin de medio -599px */
